.about__banner-text {
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 139%;
    /* 44.48px */
    letter-spacing: 0.64px;
    padding: 69px;
}